*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

.outer-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.outer-section .inner-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 550px;
    background-color: rgba(53, 52, 52, 0.091);
    box-shadow: 2px 2px rgba(53, 52, 52, 0.091);
}
.outer-section .inner-section .heading-section{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.outer-section .inner-section a {
    font-size: 1.7rem;
    text-align: center;
    text-decoration: none;
    color: black;
}

.outer-section .inner-section .temp {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
}

.outer-section .inner-section .temp input {
    height: 50px;
    width: 220px;
    text-align: center;
    font-size: 1rem;
}

.outer-section .inner-section footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
}

.outer-section .inner-section footer img {
    width: 20px;
    height: 20px;
}